http_interactions:
- request:
    method: GET
    uri: https://api.insee.fr/melodi/rmes/listeCode/CL_AGE
  response:
    status: 200
    headers:
      content-type: application/json
      x-gravitee-request-id: 137c0644-17ad-498c-bc06-4417adf98cd3
      x-gravitee-transaction-id: 137c0644-17ad-498c-bc06-4417adf98cd3
    body:
      string: '{"id":"CL_AGE","dateCreation":"2023-02-08T14:57:15","dateMiseAJour":"2026-01-29T18:08:23","label":[{"langue":"fr","contenu":"Age"},{"langue":"en","contenu":"Age"}],"codes":[{"code":"_Z","label":[{"langue":"fr","contenu":"Non
        applicable"},{"langue":"en","contenu":"Not applicable"}]},{"code":"Y_GE1","label":[{"langue":"fr","contenu":"1
        an ou plus"},{"langue":"en","contenu":"1 year or older"}]},{"code":"Y_GE100","label":[{"langue":"fr","contenu":"100
        ans ou plus"},{"langue":"en","contenu":"100 years old or older"}]},{"code":"Y_GE14","label":[{"langue":"fr","contenu":"14
        ans ou plus"},{"langue":"en","contenu":"14 years old or older"}]},{"code":"[...]
