http_interactions:
- request:
    method: GET
    uri: https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?GEO=EPCI-244400404%2ACOM&totalCount=TRUE&maxResult=0
  response:
    status: 200
    headers:
      content-type: application/json
      x-gravitee-request-id: 663127d0-77d2-44a1-b127-d077d2d4a168
      x-gravitee-transaction-id: 663127d0-77d2-44a1-b127-d077d2d4a168
    body:
      string: '{"identifier":"DS_POPULATIONS_REFERENCE","title":{"fr":"Populations
        de référence","en":"Reference populations "},"publisher":{"id":"INSEE","label":[{"lang":"fr","content":"Institut
        national de la statistique et des etudes economiques (INSEE)"},{"lang":"en","content":"National
        Institute of Statistics and Economic Studies"}]},"observations":[],"paging":{"first":"https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?GEO=EPCI-244400404%2ACOM&totalCount=TRUE&maxResult=0&page=1","count":72}}'
  recorded_at: 2026-01-30 14:14:31
- request:
    method: GET
    uri: https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?GEO=EPCI-244400404%2ACOM&idTerritoire=TRUE&maxResult=100000
  response:
    status: 200
    headers:
      content-type: application/json
      x-gravitee-request-id: 917625d5-73af-4416-b625-d573afd41655
      x-gravitee-transaction-id: 917625d5-73af-4416-b625-d573afd41655
    body:
      string: '{"identifier":"DS_POPULATIONS_REFERENCE","title":{"fr":"Populations
        de référence","en":"Reference populations "},"publisher":{"id":"INSEE","label":[{"lang":"fr","content":"Institut
        national de la statistique et des etudes economiques (INSEE)"},{"lang":"en","content":"National
        Institute of Statistics and Economic Studies"}]},"observations":[{"dimensions":{"GEO":"2025-COM-44166","FREQ":"A","TIME_PERIOD":"2023","POPREF_MEASURE":"PCAP"},"measures":{"OBS_VALUE_NIVEAU":{"value":97.0}}},{"dimensions":{"GEO":"2025-COM-44215","FREQ":"A","TIME_PERIOD":"2023","POPREF_MEASURE":"PMUN"},"measures":{"OBS_VALUE_NIVEAU":{"value":26227.0}}},{"dimensions":{"GEO":"2025-COM-44172","FREQ":"A","TIME_PERIOD":"2023","POPREF_MEASURE":"PCAP"},"measures":{"OBS_VALUE_NIVEAU":{"value":279.0}}},{"dimensions":{"GEO":"2025-COM-44166","FREQ":"A","TIME_PERIOD":"2023","POPREF_MEASURE":"PMUN"},"measures":{"OBS_VALUE_NIVEAU":{"value":6067.0}}},{"dimensions":{"GEO":"2025-COM-44024","FREQ":"A","TIME_PE[...]
