http_interactions:
- request:
    method: GET
    uri: https://api.insee.fr/melodi/range/DS_SUIVI_DDE_TOUR
  response:
    status: 200
    headers:
      content-type: application/json
      x-gravitee-request-id: 5859201b-7b84-4b59-9920-1b7b844b5967
      x-gravitee-transaction-id: 5859201b-7b84-4b59-9920-1b7b844b5967
    body:
      string: |-
        {
          "code" : "DS_SUIVI_DDE_TOUR",
          "label" : {
            "en" : "Monitoring tourist demand ",
            "fr" : "Suivi de la demande touristique"
          },
          "range" : [ {
            "concept" : {
              "code" : "TOUR_MEASURE",
              "label" : {
                "en" : "Tourism measure",
                "fr" : "Mesure du tourisme"
              }
            },
            "type" : "modalites",
            "values" : [ {
              "code" : "TRIPS",
              "label" : {
                "en" : "Number of trips",
                "fr" : "Nombre de voyages"
              }
            }, {
              "code" : "NIGHT_SPENT",
              "label" : {
                "en" : "Number of overnight stays",
                "fr" : "Nombre de nuitées"
              }
            }, {
              "code" : "DEPARTURE_TRAVEL_RATE",
              "label" : {
                "en" : "Departure travel rate",
     [...]
