http_interactions:
- request:
    method: GET
    uri: https://api.insee.fr/melodi/range/DS_POPULATIONS_REFERENCE
  response:
    status: 200
    headers:
      content-type: application/json
      x-gravitee-request-id: a2e3bd16-76fe-42ee-a3bd-1676fed2eebb
      x-gravitee-transaction-id: a2e3bd16-76fe-42ee-a3bd-1676fed2eebb
    body:
      string: '{"code":"DS_POPULATIONS_REFERENCE","label":{"fr":"Populations de référence","en":"Reference
        populations "},"range":[{"concept":{"code":"GEO","label":{"fr":"Géographie","en":"Geography"}},"values":[{"code":"011","iri":"http://id.insee.fr/geo/arrondissement/cc3aee67-96dc-4e9a-ae4e-26860a90e0d5","label":{"fr":"Belley"},"type":{"code":"ARR","fr":"Arrondissement","en":"District"},"id":"2025-ARR-011"},{"code":"012","iri":"http://id.insee.fr/geo/arrondissement/34ccfd7d-aeeb-4c1d-ae46-c989a82d05b0","label":{"fr":"Bourg-en-Bresse"},"type":{"code":"ARR","fr":"Arrondissement","en":"District"},"id":"2025-ARR-012"},{"code":"013","iri":"http://id.insee.fr/geo/arrondissement/e31bb950-4035-4607-8cdf-e1dc61329e18","label":{"fr":"Gex"},"type":{"code":"ARR","fr":"Arrondissement","en":"District"},"id":"2025-ARR-013"},{"code":"014","iri":"http://id.insee.fr/geo/arrondissement/cfbc2c42-6a12-4[...]
