http_interactions:
- request:
    method: GET
    uri: https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?FREQ=A&GEO=COM-44109&totalCount=TRUE&maxResult=0
  response:
    status: 200
    headers:
      content-type: application/json
      x-gravitee-request-id: c457eae7-c678-440d-97ea-e7c678d40dc4
      x-gravitee-transaction-id: c457eae7-c678-440d-97ea-e7c678d40dc4
    body:
      string: '{"identifier":"DS_POPULATIONS_REFERENCE","title":{"fr":"Populations
        de référence","en":"Reference populations "},"publisher":{"id":"INSEE","label":[{"lang":"fr","content":"Institut
        national de la statistique et des etudes economiques (INSEE)"},{"lang":"en","content":"National
        Institute of Statistics and Economic Studies"}]},"observations":[],"paging":{"first":"https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?FREQ=A&GEO=COM-44109&totalCount=TRUE&maxResult=0&page=1","count":3}}'
  recorded_at: 2026-01-06 11:33:00
- request:
    method: GET
    uri: https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?FREQ=A&GEO=COM-44109&idTerritoire=TRUE&maxResult=10000
  response:
    status: 200
    headers:
      content-type: application/json
      x-gravitee-request-id: d23b7e6a-efbb-4e32-bb7e-6aefbbce3216
      x-gravitee-transaction-id: d23b7e6a-efbb-4e32-bb7e-6aefbbce3216
    body:
      string: '{"identifier":"DS_POPULATIONS_REFERENCE","title":{"fr":"Populations
        de référence","en":"Reference populations "},"publisher":{"id":"INSEE","label":[{"lang":"fr","content":"Institut
        national de la statistique et des etudes economiques (INSEE)"},{"lang":"en","content":"National
        Institute of Statistics and Economic Studies"}]},"observations":[{"dimensions":{"GEO":"2025-COM-44109","FREQ":"A","TIME_PERIOD":"2023","POPREF_MEASURE":"PMUN"},"measures":{"OBS_VALUE_NIVEAU":{"value":327734.0}}},{"dimensions":{"GEO":"2025-COM-44109","FREQ":"A","TIME_PERIOD":"2023","POPREF_MEASURE":"PTOT"},"measures":{"OBS_VALUE_NIVEAU":{"value":332515.0}}},{"dimensions":{"GEO":"2025-COM-44109","FREQ":"A","TIME_PERIOD":"2023","POPREF_MEASURE":"PCAP"},"measures":{"OBS_VALUE_NIVEAU":{"value":4781.0}}}],"paging":{"first":"https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?FREQ=A&GEO=COM-44109&idTerritoire=TRUE&maxResult=10000&page=1"}}'
  recorded_at: 2026-01-06 11:33:00
recorded_with: VCR-vcr/2.1.0
