http_interactions:
- request:
    method: GET
    uri: https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?GEO=EPCI-244400404%2ACOM&POPREF_MEASURE=PMUN&totalCount=TRUE&maxResult=0
  response:
    status: 200
    headers:
      content-type: application/json
      x-gravitee-request-id: 93a55276-6738-4f43-a552-7667385f4311
      x-gravitee-transaction-id: 93a55276-6738-4f43-a552-7667385f4311
    body:
      string: '{"identifier":"DS_POPULATIONS_REFERENCE","title":{"fr":"Populations
        de référence","en":"Reference populations "},"publisher":{"id":"INSEE","label":[{"lang":"fr","content":"Institut
        national de la statistique et des etudes economiques (INSEE)"},{"lang":"en","content":"National
        Institute of Statistics and Economic Studies"}]},"observations":[],"paging":{"first":"https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?GEO=EPCI-244400404%2ACOM&POPREF_MEASURE=PMUN&totalCount=TRUE&maxResult=0&page=1","count":24}}'
  recorded_at: 2026-01-06 11:33:02
- request:
    method: GET
    uri: https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?GEO=EPCI-244400404%2ACOM&POPREF_MEASURE=PMUN&idTerritoire=TRUE&maxResult=10000
  response:
    status: 200
    headers:
      content-type: application/json
      x-gravitee-request-id: d2661941-ceef-4276-a619-41ceefc27667
      x-gravitee-transaction-id: d2661941-ceef-4276-a619-41ceefc27667
    body:
      string: '{"identifier":"DS_POPULATIONS_REFERENCE","title":{"fr":"Populations
        de référence","en":"Reference populations "},"publisher":{"id":"INSEE","label":[{"lang":"fr","content":"Institut
        national de la statistique et des etudes economiques (INSEE)"},{"lang":"en","content":"National
        Institute of Statistics and Economic Studies"}]},"observations":[{"dimensions":{"GEO":"2025-COM-44215","FREQ":"A","TIME_PERIOD":"2023","POPREF_MEASURE":"PMUN"},"measures":{"OBS_VALUE_NIVEAU":{"value":26227.0}}},{"dimensions":{"GEO":"2025-COM-44166","FREQ":"A","TIME_PERIOD":"2023","POPREF_MEASURE":"PMUN"},"measures":{"OBS_VALUE_NIVEAU":{"value":6067.0}}},{"dimensions":{"GEO":"2025-COM-44024","FREQ":"A","TIME_PERIOD":"2023","POPREF_MEASURE":"PMUN"},"measures":{"OBS_VALUE_NIVEAU":{"value":2709.0}}},{"dimensions":{"GEO":"2025-COM-44162","FREQ":"A","TIME_PERIOD":"2023","POPREF_MEASURE":"PMUN"},"measures":{"OBS_VALUE_NIVEAU":{"value":50973.0}}},{"dimensions":{"GEO":"2025-COM-44018","FREQ":"A","TIM[...]
