http_interactions:
- request:
    method: GET
    uri: https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?totalCount=TRUE&maxResult=0
  response:
    status: 200
    headers:
      content-type: application/json
      x-gravitee-request-id: 2338dc98-ed4b-4518-b8dc-98ed4b851833
      x-gravitee-transaction-id: 2338dc98-ed4b-4518-b8dc-98ed4b851833
    body:
      string: '{"identifier":"DS_POPULATIONS_REFERENCE","title":{"fr":"Populations
        de référence","en":"Reference populations "},"publisher":{"id":"INSEE","label":[{"lang":"fr","content":"Institut
        national de la statistique et des etudes economiques (INSEE)"},{"lang":"en","content":"National
        Institute of Statistics and Economic Studies"}]},"observations":[],"paging":{"first":"https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?totalCount=TRUE&maxResult=0&page=1","count":106065}}'
  recorded_at: 2026-01-06 11:33:00
recorded_with: VCR-vcr/2.1.0
