http_interactions:
- request:
    method: GET
    uri: https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?GEO=DEP-69&POPREF_MEASURE=PMUN&totalCount=TRUE&maxResult=0
  response:
    status: 200
    headers:
      content-type: application/json
      x-gravitee-request-id: 1f057f67-a181-4bfc-857f-67a1814bfc75
      x-gravitee-transaction-id: 1f057f67-a181-4bfc-857f-67a1814bfc75
    body:
      string: '{"identifier":"DS_POPULATIONS_REFERENCE","title":{"fr":"Populations
        de référence","en":"Reference populations "},"publisher":{"id":"INSEE","label":[{"lang":"fr","content":"Institut
        national de la statistique et des etudes economiques (INSEE)"},{"lang":"en","content":"National
        Institute of Statistics and Economic Studies"}]},"observations":[],"paging":{"first":"https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?GEO=DEP-69&POPREF_MEASURE=PMUN&totalCount=TRUE&maxResult=0&page=1","count":1}}'
  recorded_at: 2026-01-30 14:12:51
- request:
    method: GET
    uri: https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?GEO=DEP-69&POPREF_MEASURE=PMUN&idTerritoire=TRUE&maxResult=100000
  response:
    status: 200
    headers:
      content-type: application/json
      x-gravitee-request-id: f9cff918-9f2b-47d0-8ff9-189f2bc7d09a
      x-gravitee-transaction-id: f9cff918-9f2b-47d0-8ff9-189f2bc7d09a
    body:
      string: '{"identifier":"DS_POPULATIONS_REFERENCE","title":{"fr":"Populations
        de référence","en":"Reference populations "},"publisher":{"id":"INSEE","label":[{"lang":"fr","content":"Institut
        national de la statistique et des etudes economiques (INSEE)"},{"lang":"en","content":"National
        Institute of Statistics and Economic Studies"}]},"observations":[{"dimensions":{"GEO":"2025-DEP-69","FREQ":"A","TIME_PERIOD":"2023","POPREF_MEASURE":"PMUN"},"measures":{"OBS_VALUE_NIVEAU":{"value":1914667.0}}}],"paging":{"first":"https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?GEO=DEP-69&POPREF_MEASURE=PMUN&idTerritoire=TRUE&maxResult=100000&page=1"}}'
  recorded_at: 2026-01-30 14:12:51
recorded_with: VCR-vcr/2.1.0
