http_interactions:
- request:
    method: GET
    uri: https://api.insee.fr/melodi/catalog/DS_EC_DECES
  response:
    status: 200
    headers:
      content-type: application/json
      x-gravitee-request-id: 7c611ad8-211b-4d44-a11a-d8211b3d449d
      x-gravitee-transaction-id: 7c611ad8-211b-4d44-a11a-d8211b3d449d
    body:
      string: '{"identifier":"DS_EC_DECES","uri":"http://id.insee.fr/catalogues/jeuDeDonnees/668ae563-26d5-43ad-9614-e62eff8b17e9","title":[{"lang":"fr","content":"Décès
        quotidiens et mensuels"},{"lang":"en","content":"Daily and monthly deaths"}],"subtitle":[{"lang":"fr","content":"État
        civil - Décès enregistrés en France, ventilés au lieu de résidence du défunt"},{"lang":"en","content":"Civil
        register - Deaths registered in France, broken down by the deceased''s place
        of residence"}],"description":[{"lang":"fr","content":"La disponibilité des
        indicateurs décès varie des deux aux dix dernières années. Outre le nombre
        de décès quotidien, mensuel et annuel, d’autres indicateurs tels que le nombre
        de décès cumulés depuis le 1er janvier, le nombre moyen de décès par jour
        au cours des sept derniers jours ou par mois sont également disponibles. Certains
        indicateurs sont ventilés par lieu de décès ou par sexe et âge. \nLes décès
        sont dénombrés selon leur date de survenue et ventilés selon le département
        ou la région de résidence du défunt.\nPour chacune des observations contenues
        dans le jeu de données, le statut de l’observation (OBS_STATUS_FR) indique
        s’il s’agit de données provisoires et susceptibles d’être révisées (PROV)
        ou définitives (D)."},{"lang":"en","content":"Deaths are counted based on
        the date they occurred and according to the department or region of the place
        of death (not the place of residence of the deceased)."}],"accessRights":[{"lang":"fr","content":"Libre"},{"lang":"en","content":"Free"}],"processStep":[{"lang":"fr","content":"inseeApi"},{"lang":"en","content":"inseeApi"}],"confidentialityStatus":[{"lang":"fr","content":"Libre"},{"lang":"en","content":"Free"}],"type":[{"lang":"fr","content":"Données
        agrégées"},{"lang":"en","content":"Aggregated data"}],"issued":"2025-02-28T11:07:50","creator":"Insee","modified":"2025-11-28T11:56:10","publisher":{"id":"INSEE","label":[{"lang":"fr","content":"Institut
        national de la statistique et des etudes economiques (INSEE)"},{"lang":"en","content":"National
        Institute of Statistics and Economic Studies"}]},"wasGeneratedBy":[{"id":"s1170","label":[{"lang":"fr","content":"État
        civil"},{"lang":"en","content":"Civil register"}]},{"id":"s89","label":[{"lang":"fr","content":"Répertoires
        de personnes physiques"},{"lang":"en","content":"Register of natural persons"}]}],"temporal":{"startPeriod":"2015-01-01T00:00:00","endPeriod":"2025-10-31T00:00:00"},"temporalResolution":[{"label":[{"lang":"fr","content":"Annuel"},{"lang":"en","content":"Annual"}]},{"label":[{"lang":"fr","content":"Mensuel"},{"lang":"en","content":"Monthly"}]},{"label":[{"lang":"fr","content":"Quotidien"},{"lang":"en","content":"Daily"}]}],"accrualPeriodicity":{"label":[{"lang":"fr","content":"Mensuel"},{"lang":"en","content":"Monthly"}]},"spatial":{"id":"FE","label":[{"lang":"fr","content":"France
        entière"},{"lang":"en","content":"France"}]},"spatialResolution":[{"id":"DEP","label":[{"lang":"fr","content":"Département"},{"lang":"en","content":"Department"}]},{"id":"REG","label":[{"lang":"fr","content":"Région"},{"lang":"en","content":"Region"}]},{"id":"FRANCE","label":[{"lang":"fr","content":"France"},{"lang":"en","content":"France"}]},{"id":"OTHER","label":[{"lang":"fr","content":"Autre
        type de territoires"},{"lang":"en","content":"Other types of territories"}]}],"spatialTemporal":"2022-01-01T01:00:00","statisticalUnit":[{"label":[{"lang":"fr","content":"Individu"},{"lang":"en","content":"Person"}]}],"theme":[{"label":[{"lang":"fr","content":"1.1
        Population et immigration"},{"lang":"en","content":"1.1 Population and migration"}],"themeTaxonomy":"classificationOfStatisticalDomain"},{"label":[{"lang":"fr","content":"Décès
        – Mortalité – Espérance de vie"},{"lang":"en","content":"Deaths – Mortality
        – Life expectancy"}],"themeTaxonomy":"inseeTheme"}],"landingPage":[[{"lang":"fr","url":""},{"lang":"en","url":""}]],"structure":{"dsd":"DSD_DECES"},"product":[{"id":"T1_DECES_JOUR_DEP_REG_FR","format":"XLSX","issued":"2025-11-28T11:52:49","modified":"2025-11-28T11:52:49","title":"Nombre
        de décès par jour par département et par région de résidence du défunt","accessURL":"https://api.insee.fr/melodi/file/DS_EC_DECES/T1_DECES_JOUR_DEP_REG_FR","byteSize":1442256,"mediaType":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","language":"FR"},{"id":"T1_DECES_JOUR_NAT_FR","format":"XLSX","issued":"2025-11-28T11:52:06","modified":"2025-11-28T11:52:06","title":"Nombre
        de décès par jour au niveau national","accessURL":"https://api.insee.fr/melodi/file/DS_EC_DECES/T1_DECES_JOUR_NAT_FR","byteSize":16716,"mediaType":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","language":"FR"},{"id":"T2_DECES_AN_DEP_REG_FR","format":"XLSX","issued":"2025-11-28T11:52:07","modified":"2025-11-28T11:52:07","title":"Nombre
  [...]
