http_interactions:
- request:
    method: GET
    uri: https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?GEO=EPCI-244400404%2ACOM&POPREF_MEASURE=PMUN&totalCount=TRUE&maxResult=0
  response:
    status: 200
    headers:
      content-type: application/json
      x-gravitee-request-id: 8e757260-98fc-432c-b572-6098fc232c8c
      x-gravitee-transaction-id: 8e757260-98fc-432c-b572-6098fc232c8c
    body:
      string: '{"identifier":"DS_POPULATIONS_REFERENCE","title":{"fr":"Populations
        de référence","en":"Reference populations "},"publisher":{"id":"INSEE","label":[{"lang":"fr","content":"Institut
        national de la statistique et des etudes economiques (INSEE)"},{"lang":"en","content":"National
        Institute of Statistics and Economic Studies"}]},"observations":[],"paging":{"first":"https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?GEO=EPCI-244400404%2ACOM&POPREF_MEASURE=PMUN&totalCount=TRUE&maxResult=0&page=1","count":24}}'
  recorded_at: 2026-01-30 14:14:15
- request:
    method: GET
    uri: https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?GEO=EPCI-244400404%2ACOM&POPREF_MEASURE=PMUN&idTerritoire=TRUE&maxResult=100000
  response:
    status: 200
    headers:
      content-type: application/json
      x-gravitee-request-id: 5ac0224b-7844-4aa7-8022-4b78443aa7eb
      x-gravitee-transaction-id: 5ac0224b-7844-4aa7-8022-4b78443aa7eb
    body:
      string: '{"identifier":"DS_POPULATIONS_REFERENCE","title":{"fr":"Populations
        de référence","en":"Reference populations "},"publisher":{"id":"INSEE","label":[{"lang":"fr","content":"Institut
        national de la statistique et des etudes economiques (INSEE)"},{"lang":"en","content":"National
        Institute of Statistics and Economic Studies"}]},"observations":[{"dimensions":{"GEO":"2025-COM-44215","FREQ":"A","TIME_PERIOD":"2023","POPREF_MEASURE":"PMUN"},"measures":{"OBS_VALUE_NIVEAU":{"value":26227.0}}},{"dimensions":{"GEO":"2025-COM-44166","FREQ":"A","TIME_PERIOD":"2023","POPREF_MEASURE":"PMUN"},"measures":{"OBS_VALUE_NIVEAU":{"value":6067.0}}},{"dimensions":{"GEO":"2025-COM-44024","FREQ":"A","TIME_PERIOD":"2023","POPREF_MEASURE":"PMUN"},"measures":{"OBS_VALUE_NIVEAU":{"value":2709.0}}},{"dimensions":{"GEO":"2025-COM-44162","FREQ":"A","TIME_PERIOD":"2023","POPREF_MEASURE":"PMUN"},"measures":{"OBS_VALUE_NIVEAU":{"value":50973.0}}},{"dimensions":{"GEO":"2025-COM-44018","FREQ":"A","TIM[...]
