http_interactions:
- request:
    method: GET
    uri: https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?FREQ=A&GEO=COM-44109&totalCount=TRUE&maxResult=0
  response:
    status: 200
    headers:
      content-type: application/json
      x-gravitee-request-id: 6b644356-ea8c-4016-a443-56ea8c901616
      x-gravitee-transaction-id: 6b644356-ea8c-4016-a443-56ea8c901616
    body:
      string: '{"identifier":"DS_POPULATIONS_REFERENCE","title":{"fr":"Populations
        de référence","en":"Reference populations "},"publisher":{"id":"INSEE","label":[{"lang":"fr","content":"Institut
        national de la statistique et des etudes economiques (INSEE)"},{"lang":"en","content":"National
        Institute of Statistics and Economic Studies"}]},"observations":[],"paging":{"first":"https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?FREQ=A&GEO=COM-44109&totalCount=TRUE&maxResult=0&page=1","count":3}}'
  recorded_at: 2026-01-30 14:13:29
- request:
    method: GET
    uri: https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?FREQ=A&GEO=COM-44109&idTerritoire=TRUE&maxResult=100000
  response:
    status: 200
    headers:
      content-type: application/json
      x-gravitee-request-id: 4b7dffaa-c0d7-43b3-bdff-aac0d793b314
      x-gravitee-transaction-id: 4b7dffaa-c0d7-43b3-bdff-aac0d793b314
    body:
      string: '{"identifier":"DS_POPULATIONS_REFERENCE","title":{"fr":"Populations
        de référence","en":"Reference populations "},"publisher":{"id":"INSEE","label":[{"lang":"fr","content":"Institut
        national de la statistique et des etudes economiques (INSEE)"},{"lang":"en","content":"National
        Institute of Statistics and Economic Studies"}]},"observations":[{"dimensions":{"GEO":"2025-COM-44109","FREQ":"A","TIME_PERIOD":"2023","POPREF_MEASURE":"PMUN"},"measures":{"OBS_VALUE_NIVEAU":{"value":327734.0}}},{"dimensions":{"GEO":"2025-COM-44109","FREQ":"A","TIME_PERIOD":"2023","POPREF_MEASURE":"PTOT"},"measures":{"OBS_VALUE_NIVEAU":{"value":332515.0}}},{"dimensions":{"GEO":"2025-COM-44109","FREQ":"A","TIME_PERIOD":"2023","POPREF_MEASURE":"PCAP"},"measures":{"OBS_VALUE_NIVEAU":{"value":4781.0}}}],"paging":{"first":"https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?FREQ=A&GEO=COM-44109&idTerritoire=TRUE&maxResult=100000&page=1"}}'
  recorded_at: 2026-01-30 14:13:29
recorded_with: VCR-vcr/2.1.0
