http_interactions:
- request:
    method: GET
    uri: https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?GEO=DEP-69&POPREF_MEASURE=PMUN&totalCount=TRUE&maxResult=0
  response:
    status: 200
    headers:
      content-type: application/json
      x-gravitee-request-id: b738d9ed-4322-429c-b8d9-ed4322229c48
      x-gravitee-transaction-id: b738d9ed-4322-429c-b8d9-ed4322229c48
    body:
      string: '{"identifier":"DS_POPULATIONS_REFERENCE","title":{"fr":"Populations
        de référence","en":"Reference populations "},"publisher":{"id":"INSEE","label":[{"lang":"fr","content":"Institut
        national de la statistique et des etudes economiques (INSEE)"},{"lang":"en","content":"National
        Institute of Statistics and Economic Studies"}]},"observations":[],"paging":{"first":"https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?GEO=DEP-69&POPREF_MEASURE=PMUN&totalCount=TRUE&maxResult=0&page=1","count":1}}'
  recorded_at: 2026-01-06 11:33:03
- request:
    method: GET
    uri: https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?GEO=DEP-69&POPREF_MEASURE=PMUN&idTerritoire=TRUE&maxResult=10000
  response:
    status: 200
    headers:
      content-type: application/json
      x-gravitee-request-id: f46397f0-70cb-46e7-a397-f070cb96e7a5
      x-gravitee-transaction-id: f46397f0-70cb-46e7-a397-f070cb96e7a5
    body:
      string: '{"identifier":"DS_POPULATIONS_REFERENCE","title":{"fr":"Populations
        de référence","en":"Reference populations "},"publisher":{"id":"INSEE","label":[{"lang":"fr","content":"Institut
        national de la statistique et des etudes economiques (INSEE)"},{"lang":"en","content":"National
        Institute of Statistics and Economic Studies"}]},"observations":[{"dimensions":{"GEO":"2025-DEP-69","FREQ":"A","TIME_PERIOD":"2023","POPREF_MEASURE":"PMUN"},"measures":{"OBS_VALUE_NIVEAU":{"value":1914667.0}}}],"paging":{"first":"https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?GEO=DEP-69&POPREF_MEASURE=PMUN&idTerritoire=TRUE&maxResult=10000&page=1"}}'
  recorded_at: 2026-01-06 11:33:03
recorded_with: VCR-vcr/2.1.0
