http_interactions:
- request:
    method: GET
    uri: https://api.insee.fr/melodi/rmes/listeCode/CL_LEGAL_FORM
  response:
    status: 200
    headers:
      content-type: application/json
      x-gravitee-request-id: c6d8fb32-6dee-48c4-98fb-326dee98c47c
      x-gravitee-transaction-id: c6d8fb32-6dee-48c4-98fb-326dee98c47c
    body:
      string: '{"id":"CL_LEGAL_FORM","dateCreation":"2023-02-08T14:57:15","dateMiseAJour":"2025-03-26T18:20:55","label":[{"langue":"fr","contenu":"Forme
        légale"},{"langue":"en","contenu":"Legal form"}],"codes":[{"code":"0","label":[{"langue":"fr","contenu":"Organisme
        de placement collectif en valeurs mobilières sans personnalité morale"},{"langue":"en","contenu":"Organisme
        de placement collectif en valeurs mobilières sans personnalité morale"}]},{"code":"1","label":[{"langue":"fr","contenu":"Entrepreneur
        individuel"},{"langue":"en","contenu":"Entrepreneur individuel"}]},{"code":"2","label":[{"langue":"fr","contenu":"Groupement
        de droit privé non doté de la personnalité morale"},[...]
