http_interactions:
- request:
    method: GET
    uri: https://api.insee.fr/melodi/catalog/all
  response:
    status: 200
    headers:
      content-type: application/json
      x-gravitee-request-id: aa908859-7b91-4550-9088-597b913550cc
      x-gravitee-transaction-id: aa908859-7b91-4550-9088-597b913550cc
    body:
      string: '[{"identifier":"DD_CNA_AGREGATS","uri":"http://id.insee.fr/catalogues/jeuDeDonnees/8b0887f4-ecfb-4675-9e50-5b357b38c8f5","title":[{"lang":"fr","content":"Produit
        Intérieur Brut (PIB) et grands agrégats économiques"},{"lang":"en","content":"Gross
        domestic product (GDP) and main economic aggregates"}],"subtitle":[{"lang":"fr","content":"Comptes
        nationaux annuels - Base 2020"},{"lang":"en","content":"Base 2020 - Annual
        Results"}],"description":[{"lang":"fr","content":"Le produit intérieur brut
        (PIB) est le principal agrégat mesurant l''activité économique. Il correspond
        à la somme des valeurs ajoutées brutes nouvellement créées par les unités
        productrices résidentes une année donnée, évaluées au prix du marché. Il donne
        une mesure des richesses nouvelles créées chaque année par le système productif
        et permet des comparaisons internationales. Le produit intérieur brut est
        publié à prix co[...]
