http_interactions:
- request:
    method: get
    uri: https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?GEO=EPCI-244400404%2ACOM&POPREF_MEASURE=PMUN&totalCount=TRUE&maxResult=0
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      Content-Type: application/json
      X-Gravitee-Request-Id: 1d2a5661-c5b3-4612-aa56-61c5b3961251
      X-Gravitee-Transaction-Id: 1d2a5661-c5b3-4612-aa56-61c5b3961251
    body:
      encoding: ''
      file: no
      string: '{"identifier":"DS_POPULATIONS_REFERENCE","title":{"fr":"Populations
        de référence","en":"Reference populations "},"publisher":{"id":"INSEE","label":[{"lang":"fr","content":"Institut
        national de la statistique et des etudes economiques (INSEE)"},{"lang":"en","content":"National
        Institute of Statistics and Economic Studies"}]},"observations":[],"paging":{"first":"https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?GEO=EPCI-244400404%2ACOM&POPREF_MEASURE=PMUN&totalCount=TRUE&maxResult=0&page=1","next":"https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?GEO=EPCI-244400404%2ACOM&POPREF_MEASURE=PMUN&totalCount=TRUE&maxResult=0&page=2","last":"https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?GEO=EPCI-244400404%2ACOM&POPREF_MEASURE=PMUN&totalCount=TRUE&maxResult=0&page=2147483647","isLast":false,"count":72}}'
  recorded_at: 2025-02-19 13:45:54 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
- request:
    method: get
    uri: https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?GEO=EPCI-244400404%2ACOM&POPREF_MEASURE=PMUN&idTerritoire=TRUE&maxResult=10000
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      Content-Type: application/json
      X-Gravitee-Request-Id: 7dc4029d-027a-4e94-8402-9d027a2e9448
      X-Gravitee-Transaction-Id: 7dc4029d-027a-4e94-8402-9d027a2e9448
    body:
      encoding: ''
      file: no
      string: '{"identifier":"DS_POPULATIONS_REFERENCE","title":{"fr":"Populations
        de référence","en":"Reference populations "},"publisher":{"id":"INSEE","label":[{"lang":"fr","content":"Institut
        national de la statistique et des etudes economiques (INSEE)"},{"lang":"en","content":"National
        Institute of Statistics and Economic Studies"}]},"observations":[{"dimensions":{"GEO":"2024-COM-44120","FREQ":"A","TIME_PERIOD":"2016","POPREF_MEASURE":"PMUN"},"measures":{"OBS_VALUE_NIVEAU":{"value":5050.0}}},{"dimensions":{"GEO":"2024-COM-44162","FREQ":"A","TIME_PERIOD":"2022","POPREF_MEASURE":"PMUN"},"measures":{"OBS_VALUE_NIVEAU":{"value":50561.0}}},{"dimensions":{"GEO":"2024-COM-44109","FREQ":"A","TIME_PERIOD":"2022","POPREF_MEASURE":"PMUN"},"measures":{"OBS_VALUE_NIVEAU":{"value":325070.0}}},{"dimensions":{"GEO":"2024-COM-44198","FREQ":"A","TIME_PERIOD":"2022","POPREF_MEASURE":"PMUN"},"measures":{"OBS_VALUE_NIVEAU":{"value":9163.0}}},{"dimensions":{"GEO":"2024-COM-44190","FREQ":"A","TI[...]
