http_interactions:
- request:
    method: get
    uri: https://api.insee.fr/melodi/catalog/DS_EC_DECES
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      Content-Type: application/json
      X-Gravitee-Request-Id: b01c1c05-bf7c-422c-9c1c-05bf7cc22ce7
      X-Gravitee-Transaction-Id: b01c1c05-bf7c-422c-9c1c-05bf7cc22ce7
    body:
      encoding: ''
      file: no
      string: '{"identifier":"DS_EC_DECES","title":[{"lang":"fr","content":"Nombre
        de décès "},{"lang":"en","content":"Number of deaths"}],"subtitle":[{"lang":"fr","content":"Décès
        comptabilisés au lieu du décès"},{"lang":"en","content":"Deaths are recorded
        based on the location of death"}],"description":[{"lang":"fr","content":"Les
        décès sont dénombrés selon leur date de survenue et selon le département ou
        la région du lieu de décès (et non du lieu de domicile du défunt)."},{"lang":"en","content":"Deaths
        are counted based on their occurrence date and by the department or region
        of the place of death (not the deceased person''s place of residence)."}],"accessRights":[{"lang":"fr","content":"Libre"},{"lang":"en","content":"Free"}],"processStep":[{"lang":"fr","content":"inseeApi"},{"lang":"en","content":"inseeApi"}],"confidentialityStatus":[{"lang":"fr","content":"Libre"},{"lang":"en","content":"Free"}],"type":[{"lang":"fr","content":"Données
        agrégées"},{"lang":"en","content":"Aggregated data"}],"issued":"2024-04-08T15:39:49","creator":"Insee","modified":"2025-02-03T18:14:11","publisher":{"id":"INSEE","label":[{"lang":"fr","content":"Institut
        national de la statistique et des etudes economiques (INSEE)"},{"lang":"en","content":"National
        Institute of Statistics and Economic Studies"}]},"wasGeneratedBy":[{"id":"s1170","label":[{"lang":"fr","content":"État
        civil"},{"lang":"en","content":"Civil register"}]},{"id":"s89","label":[{"lang":"fr","content":"Répertoires
        de personnes physiques"},{"lang":"en","content":"Register of natural persons"}]}],"temporal":{"startPeriod":"2014-01-01T00:00:00","endPeriod":"2024-12-31T00:00:00"},"temporalResolution":[{"label":[{"lang":"fr","content":"Annuel"},{"lang":"en","content":"Annual"}]},{"label":[{"lang":"fr","content":"Daily"},{"lang":"en","content":"Daily"}]},{"label":[{"lang":"fr","content":"Mensuel"},{"lang":"en","content":"Monthly"}]}],"accrualPeriodicity":{"label":[{"lang":"fr","content":"Mensuel"},{"lang":"en","content":"Monthly"}]},"spatial":{"id":"FE","label":[{"lang":"fr","content":"France
        entière"},{"lang":"en","content":"France"}]},"spatialResolution":[{"id":"REG","label":[{"lang":"fr","content":"Région"},{"lang":"en","content":"Region"}]},{"id":"DEP","label":[{"lang":"fr","content":"Département"},{"lang":"en","content":"Department"}]},{"id":"FRANCE","label":[{"lang":"fr","content":"France"},{"lang":"en","content":"France"}]}],"spatialTemporal":"2021-01-01T01:00:00","statisticalUnit":[{"label":[{"lang":"fr","content":"Individu"},{"lang":"en","content":"Person"}]}],"theme":[{"label":[{"lang":"fr","content":"1.1
        Population et immigration"},{"lang":"en","content":"1.1 Population and migration"}],"themeTaxonomy":"classificationOfStatisticalDomain"},{"label":[{"lang":"fr","content":"1.
        Statistiques démographiques et sociales"},{"lang":"en","content":"1. Demographic
        and social statistics"}],"themeTaxonomy":"classificationOfStatisticalDomain"},{"label":[{"lang":"fr","content":"Décès
        – Mortalité – Espérance de vie"},{"lang":"en","content":"Deaths – Mortality
        – Life expectancy"}],"themeTaxonomy":"inseeTheme"},{"label":[{"lang":"fr","content":"Démographie"},{"lang":"en","content":"Demography"}],"themeTaxonomy":"inseeTheme"}],"landingPage":[[{"lang":"fr","url":""},{"lang":"en","url":""}]],"structure":{"dsd":"DSD_DECES"},"product":[{"id":"T1_DECES_JOUR_DEP_REG_FR","format":"XLSX","issued":"2025-02-03T18:11:08","modified":"2025-02-03T18:11:08","title":"Nombre
        de décès par jour par département et par région de décès","accessURL":"https://api.insee.fr/melodi/file/DS_EC_DECES/T1_DECES_JOUR_DEP_REG_FR","byteSize":1540802,"mediaType":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","language":"FR"},{"id":"T1_DECES_JOUR_NAT_FR","format":"XLSX","issued":"2025-02-03T18:10:32","modified":"2025-02-03T18:10:32","title":"Nombre
        de décès par jour au niveau national","accessURL":"https://api.insee.fr/melodi/file/DS_EC_DECES/T1_DECES_JOUR_NAT_FR","byteSize":17820,"mediaType":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","language":"FR"},{"id":"T2_DECES_AN_DEP_REG_FR","format":"XLSX","issued":"2025-02-03T18:10:36","modified":"2025-02-03T18:10:36","title":"Nombre
  [...]
