http_interactions:
- request:
    method: get
    uri: https://api.insee.fr/melodi/range/DS_EC_DECES
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json
      x-gravitee-request-id: c769aaec-8a17-45a6-a9aa-ec8a1755a6a0
      x-gravitee-transaction-id: c769aaec-8a17-45a6-a9aa-ec8a1755a6a0
    body:
      encoding: ''
      file: no
      string: '{"code":"DS_EC_DECES","label":{"fr":"Nombre de décès","en":"Number
        of deaths"},"range":[{"concept":{"code":"GEO","label":{"fr":"Géographie","en":"Geography"}},"values":[{"code":"01","iri":"http://id.insee.fr/geo/departement/84680e6f-2e99-44c9-a9ba-2e96a2ae48b7","label":{"fr":"Ain"},"type":{"code":"DEP","fr":"Département","en":"Department"},"id":"2022-DEP-01"},{"code":"02","iri":"http://id.insee.fr/geo/departement/8b195d1f-8676-4c06-873c-ee5b6d66a23f","label":{"fr":"Aisne"},"type":{"code":"DEP","fr":"Département","en":"Department"},"id":"2022-DEP-02"},{"code":"03","iri":"http://id.insee.fr/geo/departement/2cac54dd-bfc6-42f2-a14e-9848aca615f8","label":{"fr":"Allier"},"type":{"code":"DEP","fr":"Département","en":"Department"},"id":"2022-DEP-03"},{"code":"04","iri":"http://id.insee.fr/geo/departement/179b6382-6cbe-4dce-84c6-babab2ab4072","[...]
