http_interactions:
- request:
    method: get
    uri: https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?FREQ=A&GEO=COM-44109&totalCount=TRUE&maxResult=0
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      Content-Type: application/json
      X-Gravitee-Request-Id: 65cf2a95-561c-4706-8f2a-95561cf706bb
      X-Gravitee-Transaction-Id: 65cf2a95-561c-4706-8f2a-95561cf706bb
    body:
      encoding: ''
      file: no
      string: '{"identifier":"DS_POPULATIONS_REFERENCE","title":{"fr":"Populations
        de référence","en":"Reference populations "},"publisher":{"id":"INSEE","label":[{"lang":"fr","content":"Institut
        national de la statistique et des etudes economiques (INSEE)"},{"lang":"en","content":"National
        Institute of Statistics and Economic Studies"}]},"observations":[],"paging":{"first":"https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?FREQ=A&GEO=COM-44109&totalCount=TRUE&maxResult=0&page=1","next":"https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?FREQ=A&GEO=COM-44109&totalCount=TRUE&maxResult=0&page=2","last":"https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?FREQ=A&GEO=COM-44109&totalCount=TRUE&maxResult=0&page=2147483647","isLast":false,"count":9}}'
  recorded_at: 2025-02-19 13:47:21 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
- request:
    method: get
    uri: https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?FREQ=A&GEO=COM-44109&idTerritoire=TRUE&maxResult=10000
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      Content-Type: application/json
      X-Gravitee-Request-Id: 02579e50-246f-468d-979e-50246fe68dbb
      X-Gravitee-Transaction-Id: 02579e50-246f-468d-979e-50246fe68dbb
    body:
      encoding: ''
      file: no
      string: '{"identifier":"DS_POPULATIONS_REFERENCE","title":{"fr":"Populations
        de référence","en":"Reference populations "},"publisher":{"id":"INSEE","label":[{"lang":"fr","content":"Institut
        national de la statistique et des etudes economiques (INSEE)"},{"lang":"en","content":"National
        Institute of Statistics and Economic Studies"}]},"observations":[{"dimensions":{"GEO":"2024-COM-44109","FREQ":"A","TIME_PERIOD":"2022","POPREF_MEASURE":"PTOT"},"measures":{"OBS_VALUE_NIVEAU":{"value":329809.0}}},{"dimensions":{"GEO":"2024-COM-44109","FREQ":"A","TIME_PERIOD":"2022","POPREF_MEASURE":"PMUN"},"measures":{"OBS_VALUE_NIVEAU":{"value":325070.0}}},{"dimensions":{"GEO":"2024-COM-44109","FREQ":"A","TIME_PERIOD":"2011","POPREF_MEASURE":"PTOT"},"measures":{"OBS_VALUE_NIVEAU":{"value":296027.0}}},{"dimensions":{"GEO":"2024-COM-44109","FREQ":"A","TIME_PERIOD":"2016","POPREF_MEASURE":"PTOT"},"measures":{"OBS_VALUE_NIVEAU":{"value":314611.0}}},{"dimensions":{"GEO":"2024-COM-44109","FREQ":"A","TIME_PERIOD":"2011","POPREF_MEASURE":"PMUN"},"measures":{"OBS_VALUE_NIVEAU":{"value":287845.0}}},{"dimensions":{"GEO":"2024-COM-44109","FREQ":"A","TIME_PERIOD":"2011","POPREF_MEASURE":"PCAP"},"measures":{"OBS_VALUE_NIVEAU":{"value":8182.0}}},{"dimensions":{"GEO":"2024-COM-44109","FREQ":"A","TIME_PERIOD":"2016","POPREF_MEASURE":"PMUN"},"measures":{"OBS_VALUE_NIVEAU":{"value":306694.0}}},{"dimensions":{"GEO":"2024-COM-44109","FREQ":"A","TIME_PERIOD":"2022","POPREF_MEASURE":"PCAP"},"measures":{"OBS_VALUE_NIVEAU":{"value":4739.0}}},{"dimensions":{"GEO":"2024-COM-44109","FREQ":"A","TIME_PERIOD":"2016","POPREF_MEASURE":"PCAP"},"measures":{"OBS_VALUE_NIVEAU":{"value":7917.0}}}],"paging":{}}'
  recorded_at: 2025-02-19 13:47:21 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
