http_interactions:
- request:
    method: get
    uri: https://api.insee.fr/melodi/range/DS_IPCH_M
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json
      x-gravitee-request-id: e21b14f9-dcb8-4dfb-9b14-f9dcb88dfbcf
      x-gravitee-transaction-id: e21b14f9-dcb8-4dfb-9b14-f9dcb88dfbcf
    body:
      encoding: ''
      file: no
      string: '{"code":"DS_IPCH_M","label":{"fr":"Indice des prix à la consommation
        harmonisés mensuels","en":"Harmonised Indices of Consumption Prices (IHCP)
        - monthly"},"range":[{"concept":{"code":"OBS_STATUS","label":{"fr":"Statut
        de l''observation","en":"Observation status"}},"values":[{"code":"A","label":{"fr":"Normale","en":"Normal"}},{"code":"U","label":{"fr":"Faible
        fiabilité (ff)","en":"Low reliability"}},{"code":"P","label":{"fr":"Valeur
        provisoire","en":"Provisional value"}}],"type":"modalites"},{"concept":{"code":"IDX_TYPE","label":{"fr":"Type
        d''indice","en":"Index type"}},"values":[{"code":"HICP","label":{"fr":"Indice
        harmonisé des prix à la consommation","en":"Harmonised index of consumer prices"}},{"code":"YOY","label":{"fr":"Glissement
        annuel","en":"Year-on-year change"}}],"type":"modalites"},{"concept":{"code":"EXPENDITURE_1999","label":{"fr":"Type
        de dépense de consommation - anciennes nomenclatures","en":"Expenditure type"}},"values"[...]
