http_interactions:
- request:
    method: get
    uri: https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?TIME_PERIOD=1900&GEO=COM-44109&totalCount=TRUE&maxResult=0
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      Content-Type: application/json
      X-Gravitee-Request-Id: 53659260-1522-4514-a592-6015225514bc
      X-Gravitee-Transaction-Id: 53659260-1522-4514-a592-6015225514bc
    body:
      encoding: ''
      file: no
      string: '{"identifier":"DS_POPULATIONS_REFERENCE","title":{"fr":"Populations
        de référence","en":"Reference populations "},"publisher":{"id":"INSEE","label":[{"lang":"fr","content":"Institut
        national de la statistique et des etudes economiques (INSEE)"},{"lang":"en","content":"National
        Institute of Statistics and Economic Studies"}]},"observations":[],"paging":{"count":0}}'
  recorded_at: 2025-02-19 13:47:43 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
