http_interactions:
- request:
    method: get
    uri: https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?totalCount=TRUE&maxResult=0
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      Content-Type: application/json
      X-Gravitee-Request-Id: ded6c141-1c57-44f3-96c1-411c57c4f3fa
      X-Gravitee-Transaction-Id: ded6c141-1c57-44f3-96c1-411c57c4f3fa
    body:
      encoding: ''
      file: no
      string: '{"identifier":"DS_POPULATIONS_REFERENCE","title":{"fr":"Populations
        de référence","en":"Reference populations "},"publisher":{"id":"INSEE","label":[{"lang":"fr","content":"Institut
        national de la statistique et des etudes economiques (INSEE)"},{"lang":"en","content":"National
        Institute of Statistics and Economic Studies"}]},"observations":[],"paging":{"first":"https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?totalCount=TRUE&maxResult=0&page=1","next":"https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?totalCount=TRUE&maxResult=0&page=2","last":"https://api.insee.fr/melodi/data/DS_POPULATIONS_REFERENCE?totalCount=TRUE&maxResult=0&page=2147483647","isLast":false,"count":318717}}'
  recorded_at: 2025-02-19 13:48:48 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
