http_interactions:
- request:
    method: get
    uri: https://api.insee.fr/melodi/catalog/all
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      Content-Type: application/json
      X-Gravitee-Request-Id: 6d89febe-081d-4d94-89fe-be081d7d943d
      X-Gravitee-Transaction-Id: 6d89febe-081d-4d94-89fe-be081d7d943d
    body:
      encoding: ''
      file: no
      string: '[{"identifier":"DS_RP_EDUCATION","title":[{"lang":"fr","content":"Éducation
        - Scolarisation"},{"lang":"en","content":"Education - Schooling"}],"subtitle":[{"lang":"fr","content":"Recensement
        de la population - Exploitation principale "},{"lang":"en","content":"Main
        operation"}],"description":[{"lang":"fr","content":"Les données sont détaillées
        pour la population scolarisée âgée de 2 ans ou plus selon l''âge et le sexe.
        Elles sont fournies à différents niveaux géographiques (commune, arrondissement
        municipal, arrondissement, département, région, établissement public de coopération
        intercommunal, unité urbaines 2020, aire d''attraction des villes 2020, bassin
        de vie 2022, zone d''emploi 2020, France)."},{"lang":"en","content":"Data
        are broken down by age and gender for the school-age population aged 2 and
        over. They are provided at different geographical levels (commune, municipal
        district, arrondissement, département, region, public inter-municipal cooperation
        establishment, 2020 urban unit, 2020 city catchment area, 2022 catchment area,
        2020 employment zone, France)."}],"accessRights":[{"lang":"fr","content":"Libre"},{"lang":"en","content":"Free"}],"processStep":[{"lang":"fr","content":"inseeApi"},{"lang":"en","content":"inseeApi"}],"confidentialityStatus":[{"lang":"fr","content":"Libre"},{"lang":"en","content":"Free"}],"type":[{"lang":"fr","content":"Données
        agrégées"},{"lang":"en","content":"Aggregated data"}],"issued":"2025-02-18T09:36:19","creator":"Insee","modified":"2025-02-18T12:02:07","publisher":{"id":"INSEE","label":[{"lang":"fr","content":"Institut
        national de la statistique et des etudes economiques (INSEE)"},{"lang":"en","content":"National
        Institute of Statistics and Economic Studies"}]},"wasGeneratedBy":[{"id":"s21","label":[{"lang":"fr","content":"Recensement
        de la population"},{"lang":"en","content":"Population census"}]}],"temporal":{"startPeriod":"2010-01-01T00:00:00","endPeriod":"2021-01-01T00:00:00"},"temporalResolution":[{"label":[{"lang":"fr","content":"Annuel"},{"lang":"en","content":"Annual"}]}],"accrualPeriodicity":{"label":[{"lang":"fr","content":"Annuel"},{"lang":"en","content":"Annual"}]},"spatial":{"id":"FEHM","label":[{"lang":"fr","content":"France
        hors Mayotte"},{"lang":"en","content":"France excluding Mayotte"}]},"spatialResolution":[{"id":"COM","label":[{"lang":"fr","content":"Commune"},{"lang":"en","content":"Commune"}]},{"id":"ARR","label":[{"lang":"fr","content":"Arrondissement"},{"lang":"en","content":"District"}]},{"id":"DEP","label":[{"lang":"fr","content":"Département"},{"lang":"en","content":"Department"}]},{"id":"REG","label":[{"lang":"fr","content":"Région"},{"lang":"en","content":"Region"}]},{"id":"EPCI","label":[{"lang":"fr","content":"Etablissement
        public de coopération intercommunal"},{"lang":"en","content":"Intercommunal
        cooperation public Establishment"}]},{"id":"AAV2020","label":[{"lang":"fr","content":"Aires
        d''attraction des villes 2020"},{"lang":"en","content":"Functional areas"}]},{"id":"UU2020","label":[{"lang":"fr","content":"Unités
        urbaines 2020"},{"lang":"en","content":"Urban unit"}]},{"id":"ZE2020","label":[{"lang":"fr","content":"Zones
        d''emploi 2020"},{"lang":"en","content":"Employment zone"}]},{"id":"BV2022","label":[{"lang":"fr","content":"Bassins
        de vie 2022"},{"lang":"en","content":"Commuter belt"}]},{"id":"ARM","label":[{"lang":"fr","content":"Arrondissement
        municipal"},{"lang":"en","content":"Municipal district"}]},{"id":"FRANCE","label":[{"lang":"fr","content":"France"},{"lang":"en","content":"France"}]}],"spatialTemporal":"2024-01-01T01:00:00","statisticalUnit":[{"label":[{"lang":"fr","content":"Individu"},{"lang":"en","content":"Person"}]}],"theme":[{"label":[{"lang":"fr","content":"1.3
        Education"},{"lang":"en","content":"1.3 Education"}],"themeTaxonomy":"classificationOfStatisticalDomain"},{"label":[{"lang":"fr","content":"1.
        Statistiques démographiques et sociales"},{"lang":"en","content":"1. Demographic
        and social statistics"}],"themeTaxonomy":"classificationOfStatisticalDomain"},{"label":[{"lang":"fr","content":"Démographie"},{"lang":"en","content":"Demography"}],"themeTaxonomy":"inseeTheme"},{"label":[{"lang":"fr","content":"Éducation
        – Formation – Compétences"},{"lang":"en","content":"Education – Training –
        Skills"}],"themeTaxonomy":"inseeTheme"}],"landingPage":[[{"lang":"fr","url":""},{"lang":"en","url":""}]],"structure":{"dsd":"DSD_RP_EDUCATION"},"product":[{"id":"DS_RP_EDUCATION_CSV_FR","format":"CSV","issued":"2025-02-18T11:52:41","modified":"2025-02-18T11:52:41","title":"Éducation
        - Scolarisation","accessURL":"https://api.insee.fr/melodi/file/DS_RP_EDUCATION/DS_RP_EDUCATION_CSV_FR","byteSize":67456361,"packageFormat":"application/zip","mediaType":"text/csv","language":"FR"}],"numObservations":7054374,"numSeries":0,"keyword":[{"label":[{"lang":"fr","content":"éducation"},{"lang":"en","content":"education"}]},{"label":[{"lang":"fr","content":"scolarisation"},{"lang":"en","content":"schooling"}]}],"scopeNote":[{"lang":"fr","content":"Ce
        jeu de données a été modifié depuis sa diffusion de juin 2024. "},{"lang":"en","content":""}],"relations":["https://www.insee.fr/fr/information/2383177","https://www.insee.fr/fr/information/2383278"],"abstract":[{"lang":"fr","content":"Caractéristiques
        de la population scolarisée âgée de 2 ans ou plus selon l''âge et le sexe
        au niveau communal et supracommunal pour la France hors Mayotte."},{"lang":"en","content":"Characteristics
        of the school-going population aged 2 and over by age and gender at municipal
        and supra-municipal level for France excluding Mayotte."}]},{"identifier":"DD_EEC_SERIES","uri":"http://id.insee.fr/catalogues/jeuDeDonnees/25baaf1f-61cf-4d50-9124-147[...]
